[
{% for task in tasks %}
    {
        "_id": {
            "$oid": "{{ task._id['$oid'] }}"
        },
        "title": "{{ task.title }}",
        "due_date": "{{ task.due_date }}",
        "done": {{ task.done | lower }},
        "responsibe_id": {% if responsible_id | length > 0 %}"{{ responsible_id }}"{% else %}null{%endif%},
        "no_subtasks": {{ task.subtasks | length }}
    }{% if not loop.last %},{% endif %}
{% endfor %}
]