{
    "title": "{{ title }}",
    "description": "{{ description }}",
    "creation_date": "{{ creation_datetime }}",
    "due_date": "{{ due_date }}",
    "done": false,
    "responsible_id": {% if responsible_id | length > 0 %}"{{ responsible_id }}"{% else %}null{%endif%},
    "subtasks": {% if subtasks is defined and subtasks | length > 0 %}{{ subtasks | tojson | safe }}{% else %}[]{% endif %}
}